<h1>Novo usuário</h1>

<%= form_for :user, url: registrations_path, method: :post do |f| %>
  <label>Email</label> 
  <%= f.text_field :email %>

  <label>Password</label>
  <%= f.password_field :password %>

  <%= f.submit 'Criar usuário' %>
<% end %>
